body, html {
	font-family: 'Arimo', sans-serif, "微軟正黑體";
	height: 100%;
}


.col {
	float: left;
}

/* ====== Header ====== */
.header {
	background: #fff;
	opacity: 0.9;
	z-index: 999;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.nav-logo{
	cursor: pointer;
	margin: 5px 0 0 20px;
	float: left;
	width: 60px;
	height: 60px;
	background: url('../images/logo.png') center center no-repeat;
	background-size: 60px auto;
}

.nav-title{
	font-family: 'Montserrat', sans-serif, "微軟正黑體";
	cursor: pointer;
	margin: 20px;
	float: left;
	font-size: 18px;
	color: #7a4ca2;

}

.main-nav {
	padding: 10px;
}

.nav-item {
	float: left;
}

.navbar-nav > li > a{
	font-family: 'Montserrat', sans-serif, "微軟正黑體";
	color: #333;
	cursor: pointer;
}

.navbar-nav > li.active > a ,.navbar-nav > li:hover > a{
	color: #7a4ca2;
	background-color: #fff;
}

/* ====== Floors ====== */

.home {
	padding-top: 100px;
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) no-repeat center center scroll;
	background-size: cover;
	opacity: 0;
}

.home-textbox {
	margin-top: 15px;
	background-color: rgba(1,1,1,0.5);
	opacity: 0;
}

.bg-pattern {
	background-image: url('../images/pattern-1.png');
	background-repeat: repeat;
	background-position: left top;
}

.bg-bluenoise {
	background-image: url('../images/bg-blue-noise.jpg');
	background-repeat: repeat;
	background-position: left top;
}
.bg-white-scratched {
	background-image: url('../images/bg-white-scratched.jpg');
	background-repeat: repeat;
	background-position: left top;
}

.floor {
	position: relative;
	width: 100%;
	padding-bottom: 60px;
}
.floor p.subtitle{
	font-size: 42px;
	text-align: center;
	color: #444;
	margin: 0 0 10px 0;
	padding: 30px 0 20px 0;
}

.floor p.subtitle.brightness{
	color: #eee;
}

.floor.second{
  z-index: 200;
}
.floor.third{
  z-index: 300;
  background-color: #444176;
}
.floor.fourth{
  z-index: 400;

}

.floor.bottom{
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #3A296B),
	color-stop(1, #3D2645)
);
background-image: -o-linear-gradient(bottom, #3A296B 0%, #3D2645 100%);
background-image: -moz-linear-gradient(bottom, #3A296B 0%, #3D2645 100%);
background-image: -webkit-linear-gradient(bottom, #3A296B 0%, #3D2645 100%);
background-image: -ms-linear-gradient(bottom, #3A296B 0%, #3D2645 100%);
background-image: linear-gradient(to bottom, #3A296B 0%, #3D2645 100%);
}


.split {
	position: relative;
	float: left;
	left: 10%;
	width: 80%;
	border: 1px #eee solid;
}


/* ====== Profile ====== */

.profile {
	margin: 15px 0 20px 0;
}

.info-block {
	position: relative;
	
	margin: 5px 20px 5px 20px;
	font-size: 18px;
	text-align: center;
}
.info-block.left{
	text-align: right;
}
.info-block.right{
	text-align: left;
}

.info-text {
	float: right;
	width: 90%;
	margin: 10px 20px 10px 20px;
}

.info-img {
	overflow: hidden;
	position: relative;
	width: 90;
	height: 90px;
	margin: 10px 20px 20px 20px;
	box-shadow: 1px 1px 1px 0.5px rgba(20%,20%,40%,0.4);
}
.info-img > img {
	height: auto;
	width: 90px;
}

@media screen and (max-width: 767px) {
	.info-img{
		display: none;
	}
}

.info-block.left  > .info-img, .info-block.left  > .info-text{
	float: right;
}
.info-block.right  > .info-img, .info-block.left  > .info-text{
	float: left;
}


.img-right, .img-left{
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.img-left {
	float: right;
}

.img-right {
	float: left;
}

.img {
	margin: 0 10% 0 10%;
	width: auto;
	height: 240px;
	background-repeat: no-repeat;
	background-size:  auto 240px;
	z-index: 100;
}

/* ====== Profile ====== */

/*
#f2-1 {
	background-image: url(../images/profile/f2-1.png) ;
}

#f2-2 {
	background-image: url(../images/profile/f2-2.png) ;
}

#f3-1 {
	background-image: url(../images/profile/f3-1.png) ;
}

#f3-2 {
	background-image: url(../images/profile/f3-2.png) ;
}

#f4-1 {
	background-image: url(../images/profile/f4-1.png) ;
}

#f4-2 {
	background-image: url(../images/profile/f4-2.png) ;
}
*/

.border {
	border: 3px #bbb dashed;
}
.border.red {
	border: 3px red dashed;
}

.border.blue {
	border: 3px blue dashed;
}


/* ====== Text ====== */
.home p.title {
	font-size: 48px;
	font-weight: 1000;
	color: #fff;
}

.home p.content {
	font-size: 18px;
	font-weight: lighter;
	color: #fff;
}

.right{
	float: right;
	font-size: 18px;
	font-weight: lighter;
	color: #fff;
	text-align: right;
	margin: 10px 5px 5px 5px;
}

.fbicon {
	opacity: 0.85;
	margin: 0px 5px 5px 5px; 
	height: 24px;
	width: 24px;
}

.member-name { 
	cursor: pointer;
	font-size: 24px; 
	color: #444; 
	font-weight: 600; 
	text-transform: uppercase; 
	margin: 0px 0 10px 0px; 
	line-height: 20px;
}

.member-name.unclick {
	cursor: default;
}

.member-name:hover {
	color: #000;
}
.member-name:hover > .fbicon {
	opacity: 1;
}

.member-department { 
	font-size: 16px; 
	margin: 3px 0 14px 0; 
	color: #9464d6; 
	font-weight: lighter; 
	text-transform: uppercase;
}
.member-term { 
	font-size: 12px; 
	margin: 3px 0 10px 0; 
	color: #888; 
	font-weight: lighter; 
}

.member-name.brightness {
	color: #e8e8e8;
}
.member-name.brightness:hover {
	color: #fff;
	box-shadow: 
}

.member-department.brightness { 
	color: #9f76d6;
}
.member-term.brightness{
	color: #ddd;
}

/* ====== MAPS ====== */
.contact-map {
	height: 520px;
	background-color: #7a4ca2;
	
}
.contact-info {
	padding: 10px 30px 30px 30px;
	background-color: #fff;
	height: 520px;
}

.map-content {
	height: 90px;
}
.map-content > p{
	text-align: center;
	font-weight: 500;
	color: #ddd;
	padding: 0px 0 2px 0;
	font-size: 16px;
}
#map_canvas {
	height: 430px;
}


.contact-title {
	text-align: center;
	color: #ddd;
	font-weight: 00;
	padding: 10px;
	font-size: 24px;
}

.contact-form {
	display: block;
}
.contact-form > label, .contact-form > button {
	color: #555;
	display: block;
	font-size: 16px;
	font-weight: 200;
}

.contact-form > label {
	padding: 10px 0 5px 0;
}
.contact-form > input {
	width: 50%;
	border: 2px #ddd solid;
	color: #555;
}
.contact-form > textarea{
	width: 100%;
	border: 2px #ddd solid;
	color: #555;
	resize: none;
}

.contact-form > button {
	text-align: center;
	margin: 10px 0 10px 0;
	padding: 8px 16px 8px 16px;
	border: 0px #ccc solid;
	background-color: #eee;
}


/* color */
p.red {
	display: inline;
	color: red;

}


.feedback-alert {
	opacity: 0;
}