body, html {
	height: 100%;
}

.pattern {
	background-image: url('../images/pattern-1.png');
	background-repeat: repeat;
	background-position: left top;
}
.col {
	float: left;
}

/* ====== Header ====== */
.header {
	background: #fff;
	z-index: 999;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.main-nav {
	padding: 10px;
}

.nav-item {
	float: left;
}

.navbar-nav > li > a {
	color: #333;
	cursor: pointer;
}

.navbar-nav > li.active > a ,.navbar-nav > li:hover > a{
	color: #55bada;
	background-color: #fff;
}

.first {
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) no-repeat center center scroll;
	background-size: cover;
}

.floor {
	position: relative;
	width: 100%;
	height: 720px;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
.floor p.subtitle{
	font-size: 42px;
	text-align: center;
	color: #fff;
	margin: 0 0 10px 0;
	padding: 20px 0 20px 0;
	
	background-color: #29afdf;
}
.floor.second{
  z-index: 200;
  
}
.floor.third{
  z-index: 300;
  background: -webkit-radial-gradient(ellipse farthest-corner, white 32.6%, #94d4e8 78.1%) #fff;
  background: -moz-radial-gradient(ellipse farthest-corner, hsla(0.13,0.12,0.52) 32.6%, #94d4e8 78.1%) #fff;
  background: -ms-radial-gradient(ellipse farthest-corner, hsla(0.13,0.12,0.52) 32.6%, #94d4e8 78.1%) #fff;
  background: radial-gradient(ellipse farthest-corner, hsla(0.13,0.12,0.52) 32.6%, #94d4e8 78.1%) #fff;
}
.floor.fourth{
  z-index: 400;

}


.profile {
	margin: 15px 0 15px 0;
}

.info-block {
	position: relative;
	height: 120px;
	margin: 5px 20px 5px 20px;
	font-size: 18px;
	text-align: center;
}
.info-block.left{
	text-align: right;
}
.info-block.right{
	text-align: left;
}


.info-img {
	overflow: hidden;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 10px 20px 20px 20px;
	box-shadow: 1px 1px 1px 0.5px rgba(20%,20%,40%,0.5);
}
.info-img > img {
	height: auto;
	width: 100px;
}

.info-block.left  > .info-img{
	float: right;
}
.info-block.right  > .info-img{
	float: left;
}


.img-right, .img-left{
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* ====== Profile ====== */

#chris-chen {
	width: auto;
	height: 240px;
	background-image: url(../images/profile/chrischen.png) ;
	background-repeat: no-repeat;
	background-size:  auto 240px;
	z-index: 100;
}

#lao-pao-gi {
	width: auto;
	height: 240px;
	background-image: url(../images/profile/laopaogi.jpg);
	background-repeat: no-repeat;
	background-size:  auto 240px;
	z-index: 100;
}


.border {
	border: 3px #bbb dashed;
}
.border.red {
	border: 3px red dashed;
}

.border.blue {
	border: 3px blue dashed;
}


.member-name { 
	font-size: 24px; 
	color: #4b4b4b !important; 
	font-weight: 600; 
	text-transform: uppercase; 
	margin: 0px 0 20px 0px; 
	line-height: 20px;
}

.member-department { 
	font-size: 16px; 
	margin: 3px 0 10px 0; 
	color: #279fbb; 
	font-weight: lighter; 
	text-transform: uppercase;
}

.member-term { 
	font-size: 12px; 
	margin: 3px 0 10px 0; 
	color: #888; 
	font-weight: lighter; 
}


